h2{
    margin: 0px;
    padding: 25px;
    font-family: monospace;
    font-weight: normal;
    color: beige;
    font-size: 100px;
}

.username{
    margin: 0px;
    margin-bottom: 5px;
}

.date{
    margin: 0px;
    margin-top: 5px;
}

.post-bar{
    
    margin: 0 auto;
    width: 300px;
    min-height: 40px;
    color: beige;
    margin-top: 50px;
}

input{
    width: 300px;
    min-height: 40px;
    background-color: rgb(27, 27, 27);
    border: 2px solid beige;
    border-radius: 6px;
    color: beige;
}

a {
    color: beige; /* change color to red */
    text-decoration: none; /* remove underline */
  }